# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

/dist
/node_modules
/.angular
/.vscode
/src/assets/config/video
/src/assets/config/image
*.mp4
