.management-statistic-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-background-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @gap: 20px;
  gap: @gap;
  box-sizing: border-box;

  &-icon {
    height: 100%;
    aspect-ratio: 92/160;
    background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-icon-background-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>* {
      width: 100%;
      aspect-ratio: 1;
      background-repeat: no-repeat;
      background-size: 60% 60%;
      background-position: center 0%;
    }

    &>.camera {
      background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-camera-2.png);
    }

    &>.parking {
      background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-parking-2.png);
    }

    &>.smoker {
      background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-smoker-2.png);
    }

    &>.spray {
      background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-spray-2.png);
    }

    &>.charger {
      background-image: url(../../../../../../assets/image/management/statistic/device/management-statistic-device-charger-2.png);
    }
  }

  &-info {
    height: 100%;
    width: calc((100% - @gap) * 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    &-title {
      font-size: 24px;
      color: #bdd3ff;
      white-space: nowrap;
    }

    &-number {
      display: flex;
      font-size: 24px;
      align-items: center;

      &-value {
        color: white;
        font-size: 30px;
        font-weight: bold;
      }

      &-count {
        color: #7d8caf;
        font-size: 30px;
      }
    }
  }
}
