<div class="management-statistic-item">
  <div class="management-statistic-item-icon">
    <div [class]="type"></div>
  </div>
  <div class="management-statistic-item-info">
    <div class="management-statistic-item-info-title">{{ title }}</div>
    <div class="management-statistic-item-info-number">
      <div class="management-statistic-item-info-number-value">{{ value }}</div>
      <div class="management-statistic-item-info-number-count">
        /{{ count }}
      </div>
    </div>
  </div>
</div>
