<div class="bicycle-parking-container-device-item">
  <div class="bicycle-parking-container-device-item-icon">
    <div [class]="type"></div>
  </div>
  <div class="bicycle-parking-container-device-item-info">
    <div class="bicycle-parking-container-device-item-info-name">
      {{ name }}
    </div>
    <div class="bicycle-parking-container-device-item-info-value">
      <div class="bicycle-parking-container-device-item-info-value-number">
        {{ value }}
      </div>
      <div class="bicycle-parking-container-device-item-info-value-count">
        /{{ count }}
      </div>
    </div>
  </div>
</div>
