<div class="management-statistic-structure">
  <div class="management-statistic-structure-head">
    <div class="management-statistic-structure-head-content">
      <howell-management-statistic-head
        [title]="title"
      ></howell-management-statistic-head>
    </div>
  </div>
  <div class="management-statistic-structure-body">
    <div class="management-statistic-structure-body-item center">
      <div class="management-statistic-structure-body-item-picture lin"></div>
    </div>
    <div class="management-statistic-structure-body-item top">
      <div class="management-statistic-structure-body-item-picture zhang"></div>
    </div>
    <div class="management-statistic-structure-body-item center">
      <div class="management-statistic-structure-body-item-picture wang"></div>
    </div>
  </div>
</div>
