.bicycle-parking-container-event-record-chart-pie {

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      height: 100%;
      width: 40%;
    }

    &-right {
      width: 60%;
      height: 100%;
    }


  }

  &-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 20px;



      &-color {
        height: 80%;
        aspect-ratio: 16/9;
      }

      &-name {
        flex-grow: 1;

      }

      &-value {
        color: white;
      }
    }
  }
}
